---
title: Danger - Reference
subtitle: Reference
layout: layout_sw
---

css:
  .attributes {
    margin-left: 10px;
  }

  article > code {
    display: block;
    width: 70%;
  }

  span.comment {
    color: grey;
  }

  hr {
    margin-top: 40px;
    margin-bottom: 20px;
  }isTypeScript

  .no-underline {
    text-decoration: none;
  }

  .examples {
    padding: 0;
  }

  .examples li {
    cursor: pointer;
    margin-left: 0;
    display: inline-block;
    width: 45%;
    user-select: none;
  }

   .examples li:hover {
    background: #eee;
  }

== javascript_include_tag  "https://code.jquery.com/jquery-3.1.0.min.js"
== javascript_include_tag  "https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"

ruby:
  interface = File.read("source/swift/reference/Danger.swift").gsub("public ", "").gsub(": Decodable, Equatable", "").gsub("Danger.", "") 


section.guide
  article  
    p When you add: <code>import Danger</code> to the top of your Dangerfile it exposes a bunch of stuff. First up, there arre the messaging functions

    / LOOK AT THIS NEXT

    ul.examples
      li#gh Hide GitHub
      li#bb Hide BitBucket

    - interface = File.read("source/swift/reference/Danger.swift").gsub("public ", "").gsub(": Decodable, Equatable", "").gsub("Danger.", "")
    
    pre
     code 
      == syntax_highlight_swift(interface)

    javascript:

      const setupBB = () => {
        const hideBB = Cookies.get('hide_bb') == "true"; 
        if (hideBB) {
          $("section article > code[id^=BitB]").hide()
          $("#bb").text("Show BitBucket DSL")
        } else {
          $("section article > code[id^=BitB]").show()
          $("#bb").text("Hide BitBucket DSL")
        }
      }

      const setupGH = (prefix) => {
        const hideGH = Cookies.get('hide_gh') == "true"; 
        if (hideGH) {
          $("section article > code[id^=GitHub]").hide()
          $("#gh").text("Show GitHub DSL")
        } else {
          $("section article > code[id^=GitHub]").show()
          $("#gh").text("Hide GitHub DSL")
        }
      }

      $(() => {
        setupBB()
        setupGH()
        $("#bb").click((e) => {
          e.preventDefault()
          const hideBB = Cookies.get('hide_bb') == "true"; 
          console.log("togglin,", hideBB)
          Cookies.set('hide_bb', hideBB ? "false" : "true")
          setupBB()

        })

        $("#gh").click((e) => {
          e.preventDefault()

          const hideGH = Cookies.get('hide_gh') == "true"; 
          console.log("togglingh,", hideGH)
          Cookies.set('hide_gh', hideGH ? "false" : "true")
          setupGH()
        })
      })

